<link href="css/meeting.css" rel="stylesheet">

<div class="container-fluid view-fade-in">

    <div id="attendees" class="col-md-2 col-md-offset-1">
        <h4>Attendees</h4>
        <p ng-repeat="attendee in getAttendees()">{{attendee.name}}
            <span ng-click="removeAttendee(attendee.id)"><i class="fa fa-btn fa-remove delete-cross"></i></span>
        </p>
    </div>

    <div class="col-md-4 col-md-offset-1">
        <div class="row">
            <h1>Invite colleagues</h1>
            <p>Here you can invite colleagues to your meeting. <br>This will create a Google Calendar event and send
                email
                notifications to all attendees.</p><br>
            <form name="calForm" method="POST" ng-submit="" accept-charset="UTF-8" novalidate>

                <div class="form-group">
                    <input type="text" id="name" name="name" ng-model="name" class="form-control"
                           ng-minlength="2" ng-maxlength="20" placeholder="Name of meeting" required>
                    <p ng-show="calForm.name.$error.minlength" class="error">At least 2 characters.</p>
                    <p ng-show="calForm.name.$error.maxlength" class="error">Maximum of 20 characters.</p>
                </div>

                <div class="form-group">
                    <input type="text" id="description" name="description" ng-model="description" class="form-control"
                           ng-minlength="5" ng-maxlength="50" placeholder="Give a description" required>
                    <p ng-show="calForm.description.$error.minlength" class="error">At least 5 characters.</p>
                    <p ng-show="calForm.description.$error.maxlength" class="error">Maximum of 50 characters.</p>
                </div>

                <div class="input-group">
                    <input type="search" name="instantsearch" id="instantsearch" class="form-control" ng-model="username">
                     <div class="input-group-addon">
                         <span class="glyphicon glyphicon-search text-muted"></span>
                     </div>
                </div>
                <ul class="list-group" ng-show="!calForm.instantsearch.$pristine">
                    <li class="list-group-item" ng-repeat="user in users | filter: username | limitTo: 3">
                        <div class="search-link" ng-click="addAttendee(user)">{{user.name}}</div>
                    </li>
                </ul>

                <div class="form-group buttons">
                    <a href="#/agenda/new" class="btn btn-primary"><< Edit agenda</a>
                    <button class="btn btn-primary" ng-click="setFinalValues(calForm.$valid)">
                        <span ng-show="isEdit">Edit</span><span ng-show="!isEdit">Create</span> event >>
                    </button>
                </div>

            </form>
        </div>
    </div>

    <div class="col-md-2 col-md-offset-1">
        <h4>Your event</h4>
        <p>Name: {{name}}</p>
        <p>Start time: {{getDate() | amDateFormat:'HH:mm'}} </p>
        <p>End time: {{getEndTime() | amDateFormat:'HH:mm'}}</p>
    </div>

</div>
