<link href="css/meeting.css" rel="stylesheet">

<div class="container-fluid view-fade-in" ng-init="init()">
    <div class="col-md-6 col-md-offset-3">
        <h1>Create a meeting agenda</h1>
        <div id="builder" class="row">

            <div class="col-md-6">
                <a href="" ng-click="newActivity()"><h4><i class="fa fa-btn fa-plus"></i> New activity</h4></a>
                <div id="activities"  droppable handle="handleDrop()">
                    <div class="row activity" ng-repeat="activity in activities" id="activity-{{$index}}" draggable>
                        <div class="col-md-3 minutes">
                            {{activity.duration}} min
                        </div>
                        <div class="col-md-9">
                            <button class="btn btn-warning">
                                {{activity.name}}
                            </button>
                        </div>
                    </div>
                </div>


            </div>

            <div class="col-md-6">
                <h4>Agenda</h4>
                <div id="agenda" droppable handle="handleDrop()">
                    <div class="row" ng-repeat="activity in agenda" draggable>
                        <div class="col-md-3 minutes">
                            {{date | date : 'HH:mm'}}
                        </div>
                        <div class="col-md-9">
                            <button class="btn btn-warning" item="item">
                                {{activity.name}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <a href="#/agenda/invite" id="invite-btn" class="btn btn-primary">Invite colleagues >></a>

    </div>
    <div class="col-md-2 col-md-offset-1" id="details">
        <h4>Details</h4>
        <p>Start time: <input id="start-input" value="{{date | date : 'HH:mm'}}"></p>
        <p>End time: {{endTime | date : 'HH:mm'}} <br>
        <hr>
        Total length: {{totalTime}} min</p>
    </div>

</div>