<section>
    <div class="modal-header">
        <h3 class="modal-title">Create activity</h3>
    </div>

    <div class="modal-body">
        <fieldset>
            <form name="activityForm" novalidate>
                <ng-include src="'partials/agenda/activityForm.html'"></ng-include>
            </form>
        </fieldset>
    </div>

    <div class="modal-footer">
        <button class="btn btn-other" ng-click="createActivity(activityForm.$valid)">Create activity</button>
        <button class="btn btn-other" ng-click="cancel()">Cancel</button>
    </div>

</section>