<div class="container-fluid view-fade-in">
    <div class="col-md-6 col-md-offset-3">
        <div class="row">
            <h2>#1 What is meeter?</h2> </br>
            <p> Meeter is a platform made for planning and creating meeting agendas. Meeter is specifically made to
                be used in an office environment since it enables easy sharing and inviting of colleagues. Meeter also
                supports collaboration among the invited colleagues of an agenda.</p>
        </div>
        <div class="row">
            <h2>#2 How do I add an agenda?</h2> </br>
            <p> Adding a new agenda is found in the personal menu in the header. An agenda consists of customized
                activities that are easily added to an agenda by drag and drop. From this view the user continues to
                and is able to invite other colleagues.</p>
        </div>
        <div class="row">
            <h2>#3 What is Google Calendar?</h2> </br>
            <p>Google Calendar is a time-management web application and mobile app created by Google. Meeter automatically
                connects to Google Calender and adds an agenda to the users schedule; making it easy for the users to view
                and find upcoming events through the web and their mobile device.</p>
        </div>
    </div>
</div>
