<link rel="stylesheet" href="css/agenda.css">

<div class="container-fluid view-fade-in" ng-init="getAgendaWithID()">

    <div class="row">
        <h2> {{chosenAgenda.description}}  </h2>
    </div>
    <div class="col-md-4 col-md-offset-4" id="agenda" >
        <div id="info">
        <div class="col-md-3">
            tid
        </div>
        <div class="col-md-9 no-margin">
            name
        </div>
        </div>

    <div>
        <br>
        <a id="edit-btn" class="btn btn-primary buttons">Edit agenda >></a>
    </div>
    </div>


</div>