<link href="css/home.css" rel="stylesheet">

<div class="banner">
    <h1 id="welcome" class="fade-in">Welcome to Meeter</h1>
    <p id="info" class="fade-in">Meeter is an office platform for building meeting agendas. <br>
        Share your agendas with colleagues and connect to Google Calendar.</p>
    <div ng-switch on="loggedIn">
        <a href="#/login" ng-switch-when="false" class="btn btn-primary fade-in">Login</a>
        <a href="#/register" ng-switch-when="false" class="btn btn-primary fade-in">Register</a>
    </div>
    <div id="arrows">
        <br><i class="fa fa-angle-down fade-in-infinite"></i>
        <br><i class="fa fa-angle-down fade-in-infinite fade-delay"></i>
    </div>
</div>

<div class="container-fluid info">

    <div class="row info-row grey-box">
        <h1 class="heading-pad">What can you do on meeter?</h1>
        <div class="col-md-4">
            <h4>Plan meetings with your colleagues</h4>
            <p>Meeter is specifically made to be used in an office environment since it enables easy sharing and inviting
                of colleagues to events. Using prepared agendas</p>
            <h1><i class="fa fa-briefcase"></i></h1>
        </div>
        <div class="col-md-4">
            <h4>Connect to Google Calendar</h4>
            <p>Meeter automaticall connects to Google Calender and adds an agenda to the users schedule;
                making it easy to view and find upcoming events using the web application or mobile app.</p>
            <h1><i class="fa fa-calendar"></i></h1>
        </div>
        <div class="col-md-4">
            <h4>Become more productive</h4>
            <p>Meeting attendees can familiarize themselves with the meeting agenda before the meeting and prepare material or
                information needed. Meeter also makes it possible for colleagues to edit and collaborate on an agenda's
                activities and specifications together.</p>
            <h1><i class="fa fa-check"></i></h1>
        </div>
    </div>

    <div class="row info-row">
        <div class="col-md-3 col-md-offset-3">
            <h4>Something</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua.</p>
            <h4>Something</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat.</p>
            <h4>Something</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat.</p>
        </div>
        <div class="col-md-3">
            <h4>Something</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua.</p>
            <h4>Something</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat.</p>
            <h4>Something</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                aliquip ex ea commodo consequat.</p>
        </div>
    </div>

    <div class="row info-row grey-box">
        <h1>Information and stuff</h1>
        <div class="col-md-4 col-md-offset-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. </p>
        </div>
    </div>

    <div class="row info-row">
        <h1>Information and stuff</h1>
        <div class="col-md-4 col-md-offset-4">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. </p>
        </div>
    </div>

</div>