<link rel="stylesheet" href="css/profile.css">

<div class="container-fluid view-fade-in">

    <div class="row">
        <h2> {{profileUser.name}} </h2>
    </div>

    <div class="row about-me">

        <div class="col-md-4">
            <img class="" src="images/avatar.png" width="200">
        </div>

        <div class="col-md-4 info-text">
            <h4>About me</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. </p> </br>
            <h4>Contact</h4>
            <p>
                {{profileUser.name}}</br>
                {{profileUser.email}}</br>
            </p>
        </div>

    </div>


    <div class="row">
        <h2>My meetings</h2>
    </div>

    <div class="row meetings">
        <div class="col-md-6 col-md-offset-3">
            <uib-datepicker ng-if="agendasAreLoaded" ng-model="dt" class="well well-sm" starting-day="1"
                            custom-class="getDayClass(date, mode)"
                            ng-click="clicked(dt)"></uib-datepicker>
        </div>
        <div class="col-md-2 agenda-list">
            <h5>{{dt | date:'fullDate' }}</h5>
            <hr>
            <div ng-repeat="agenda in foundAgendas">
                <div class="time">
                    {{agenda.date | amDateFormat:'HH:mm'}} -
                    {{agenda.enddate | amDateFormat:'HH:mm'}}<br>
                </div>
                <a href="#/agenda/{{agenda.id}}">
                    {{agenda.name}}
                </a>
                <p>{{agenda.description}}</p>

            </div>
        </div>
    </div>


</div>