<link rel="stylesheet" href="css/profile.css">

<div class="container-fluid view-fade-in">

    <div class="row">
        <h2> {{profileUser.name}} </h2>
    </div>

    <div class="row about-me">

        <div class="col-md-4">
            <img class="" src="images/avatar.png" width="200">
        </div>

        <div class="col-md-4 info-text">
            <h4>About me</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p> </br>
            <h4>Contact</h4>
            <p>
                {{profileUser.name}}</br>
                {{profileUser.email}}</br>
            </p>
        </div>

    </div>


    <div class="row">
        <h2>My meetings</h2>
    </div>

    <div class="row meetings">
        <div class="col-md-6 col-md-offset-3">
            <uib-datepicker ng-model="dt" class="well well-sm" starting-day="1" datepicker-options="options" ng-click="clicked(dt)"></uib-datepicker>
        </div>
        <div class="col-md-2 agenda-list">
           <h5>{{dt | date:'fullDate' }}</h5>
            <hr>
            <!--
            <div ng-repeat="agenda in agendas">
                <p>Time: {{agenda[0].date.substring('11', '16')}}</p>
                <p>Description: {{agenda[0].description}}</p>
            </div>

            *Det vi kommer använda*
            <ul style="list-style-type:circle">
            <div ng-repeat="agenda in agendas" ng-click="showAgenda(myAgenda)">
                    <li>{{agenda.description}}, {{agenda.date.substring('11', '16')}}</li>
            </div>
            </ul>

            -->
            <ul style="list-style-type:circle">
            <div ng-repeat="myAgenda in foundAgendas" ng-click="showAgenda(myAgenda)">
                    <li>{{myAgenda.name}}, {{myAgenda.starttime}}</li>
            </div>
            </ul>
        </div>
    </div>


</div>